<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Backend/etc/menu.xsd">
    <menu>
        <add id="Chalaksoft_Core::parent" title="ChalakSoft" module="Chalaksoft_Core" sortOrder="100" resource="Chalaksoft_Core::parent"/>

    </menu>
</config>